@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Netflix Skeleton Shimmer */
.skeleton {
  background: linear-gradient(90deg,
      rgba(60, 60, 60, 0.4) 25%,
      rgba(85, 85, 85, 0.6) 37%,
      rgba(60, 60, 60, 0.4) 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}